@model IEnumerable<InventoryXpert.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage your categories</h1>

<p>
    <a class="button btn-create" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-light table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.CategoryName) *@
                Category Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.SupplierId) *@
                Supplier ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
            </td>
            <td>
                <a class="button btn-dataOptions" asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a class="button btn-dataOptions" asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                <a class="button btn-dataOptions" asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
