@model InventoryXpert.Models.Item

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CategoryId) *@
            Category ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.StockedQuantity) *@
            Stocked Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.AvailableQuantity) *@
            Available Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.QuantityOnOrder) *@
            Quantity On Order
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOnOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.TagA) *@
            Tag A
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagA)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.TagB) *@
            Tag B
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagB)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.TagC) *@
            Tag C
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagC)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.TagD) *@
            Tag D
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagD)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.TagE) *@
            Tag E
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagE)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Delete" class="button btn-delete" /> |
        <a class="button btn-details" asp-action="Index">Back to List</a>
    </form>
</div>
