@model InventoryXpert.Models.Item

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOnOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOnOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagE)
        </dd>
    </dl>
</div>
<div>
    <a class="button btn-details" asp-action="Edit" asp-route-id="@Model?.ItemId">Edit</a> |
    <a class="button btn-details" asp-action="Index">Back to List</a>
</div>
