@model IEnumerable<InventoryXpert.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
