@model IEnumerable<InventoryXpert.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="button btn-create" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-light table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                <a class="button btn-dataOptions" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="button btn-dataOptions" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="button btn-dataOptions" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
