@model IEnumerable<InventoryXpert.Models.Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage your suppliers</h1>

<p>
    <a class="button btn-create" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-light table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.SupplierName) *@
                Supplier Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.PostalCode) *@
                Postal Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Phone) *@
                Phone Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="button btn-dataOptions" asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a> |
                <a class="button btn-dataOptions" asp-action="Details" asp-route-id="@item.SupplierId">Details</a> |
                <a class="button btn-dataOptions" asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
