@model InventoryXpert.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.ArrivalDate) *@
            Arrival Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipped)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PlacedDate) *@
            Placed On
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierId)
        </dd>
    </dl>
</div>
<div>
    <a class="button btn-details" asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a class="button btn-details" asp-action="Index">Back to List</a>
</div>
